.form-box {
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(57, 165, 160));
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-right: 100px;
    width: 400px;
    font-size: 20px;
}

.btn-add {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 255, 241));
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

.btn-add:active {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(31, 150, 145));
}

.btn-delete{
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(0, 70, 60));
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

body {
    background: #726c6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.task {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-top: 30px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(47, 137, 133));
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
}